.cont{
    width: 470px;
    height: 350px;
    object-fit: cover;
    border-radius: 1rem;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.contWithStickers{
    background-image: url(../../../public/assets/images/removeBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}